root = true

[*]
indent_size = 4
indent_style = space
max_line_length = 120
end_of_line = lf
insert_final_newline = true

[*.cs]
# Resharper rules (remove them, when they are added to dotnet_diagnostic)
resharper_csharp_trailing_comma_in_multiline_lists = true
resharper_csharp_place_attribute_on_same_line = never
resharper_csharp_arguments_literal = named
resharper_csharp_wrap_before_extends_colon = true
resharper_csharp_wrap_chained_method_calls = chop_if_long
resharper_arguments_style_literal_highlighting = suggestion     # This rule IS supported by ReSharper

# IDE0007: Use var instead of explicit type
csharp_style_var_for_built_in_types = true
dotnet_diagnostic.IDE0007.severity = warning

# IDE0040: Accessibility modifiers required
dotnet_style_require_accessibility_modifiers = for_non_interface_members
dotnet_diagnostic.IDE0040.severity = warning

# IDE0090: Simplify new expression
dotnet_diagnostic.IDE0090.severity = warning

# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

[*.{yml,yaml}]
indent_size = 2
indent_style = space
